.generate {
    height: 50vh;
    background-image: url('../../image/background1.png');
    background-size: cover;
    background-position: center;
    .generateContainer {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        .movies {
            position: absolute;
            color: black;
            text-align: center;
            font-family: 'Righteous', sans-serif;
            font-size: 19em;
            opacity: 0.3;
            margin-bottom: 80px;
        }
        .stabilizeContainer {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        .buttonContainer {
            width: 200px;
        }
    }
}

//Neon affects
@keyframes neon {
  from {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}



@media (max-width: 800px) {
    .generate {
        .generateContainer {
            flex-direction: column;
            margin: 0 auto;
            .movies {
                position: static;
                font-size: 10em;
                margin: 0;
            }
            .stabilizeContainer {
                margin: 0;
            }
            .selectedActor {
                height: 20vh;
            }
        }
    }
}
