$pp1: #ad00bd;
$pp2: #45108a;
$sky: #2af6ff;

* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: 'raleway', sans-serif;
}

h2 {
  font-size: 5.0rem;
}

h4 {
  font-size: 2.6rem;
  text-align: right;
}

p {
  font-size: 1.8rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
  width: 100%;
}

@mixin flexer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

//Background Gradient
@mixin backgroundGradient {
    width: 100%;
    height: 100%;
    color: black;
    background: linear-gradient(-45deg, rgb(136, 26, 182), rgb(95, 11, 147), rgb(53, 31, 181), rgba(13, 7, 41, 1));
    opacity: 0.90;
    background-size: 400% 400%;
    // animation: gradientBG 8s ease infinite;
    @keyframes gradientBG {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }
}

//button styling
.buttonContainer {
    width: 140px;
    button {
    flex: 1 1 auto;
    width: 100%;
    height: 50px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 24px;
    font-family: 'Alata', sans-serif;
    margin-top: 7px;
    box-shadow: 0 0 10px $sky;
    border-radius: 25px;
    background-image: linear-gradient(to left, $sky 0%, $pp1 100%);
    }
    button:hover {
    background-position: right center;
    }
}


//Glitch Effect
@mixin textGlitch($name: 'name', $intensity:20, $textColor:white, $background: none, $highlightColor1:rgb(255, 111, 0), $highlightColor2:rgb(21, 208, 250), $width:100%, $height:100%) {
  
  color: $textColor;
  position: relative;
  $steps: $intensity;
  
  @at-root {
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          $top: random(100);
          $bottom: random(101 - $top);
          #{percentage($i*(1/$steps))} {
            clip-path: inset(#{$top}% 0 #{$bottom}% 0);
          }
        }
      }
    }
  }
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
  }
  &::after {
    left: 2px;
    text-shadow: -1px 0 $highlightColor1;
    animation: #{$name}-anim-1 3s infinite linear alternate-reverse;
  }
  &::before {
    left: -2px;
    text-shadow: 1px 0 $highlightColor2; 
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }
}

// Actor tag
.actorTag {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 10px $sky;
    .ratingBar {
        display: none;
    }
}


@media (max-width: 960px) {
    .wrapper {
        width: 90%;
    }
}

@mixin heading-1 {
    font-family: 'Righteous', cursive;
    font-size: 6rem;
    line-height: 7rem;
    letter-spacing: 1.5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    @media (max-width: 800px) {
        font-size: 5rem;
        line-height: 6rem;
    }
    @media (max-width: 500px) {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@mixin heading-2 {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    line-height: 5rem;
    color: white;
    margin: 0;
    @media (max-width: 800px) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    @media (max-width: 500px) {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@mixin heading-3 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 1.2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

@mixin text-1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 0;
}

@mixin text-2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    @media (max-width: 500px) {
        font-size: 1.2rem;
    }
}