$playlistBGDark: rgb(26, 0, 78);
$listItemBG: rgb(84, 0, 139);

// contains wrapped ul in which the movie playlist is generated
.playlistSection {

    padding: 50px 0;

    background: linear-gradient(45deg, $playlistBGDark 30%, $pp2 50%, $playlistBGDark 100%);
}

// each movie item li
.playlistItem {

    margin: 80px 0;

    display: flex;
    flex-wrap: wrap;

    position: relative;

    background: $listItemBG;

    .posterContainer {
        width: 20%;

        position: relative;

        top: -30px;
        left: -30px;

        img {
            border-top: 6px solid $sky;
            border-left: 6px solid $sky;
        }
    }

    .infoTextContainer {
        width: 70%;

        padding: 0 15px;
    }

    .infoTextContainer::after {
        content: '';
        display: block;
        width: 600px;
        height: 200px;

        border-right: 6px solid $sky;
        border-bottom: 6px solid $sky;
        
        position: absolute;
        right: -26px;
        bottom: -25px;
    }

    .buttonContainer {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// prevent the first item from being moved up
.playlist li:nth-child(1) .moveUp {
display: none;
}

// prevent the last item from being moved down
.playlist li:last-child .moveDown {
display: none;
}