$playlistBGDark: rgb(26, 0, 78);
$listItemBG: rgb(84, 0, 139);

// contains wrapped ul in which the movie playlist is generated
.playlistSection {

    padding: 50px 0;

    background: linear-gradient(45deg, $playlistBGDark 30%, $pp2 50%, $playlistBGDark 100%);
}

// each movie item li
.playlistItem {

    margin: 80px 0;

    display: flex;
    flex-wrap: wrap;

    position: relative;

    background: $listItemBG;

    .posterContainer {
        width: 20%;

        position: relative;

        top: -30px;
        left: -30px;

        img {
            border-top: 6px solid $sky;
            border-left: 6px solid $sky;
        }
    }

    .infoTextContainer {
        width: 70%;
        padding: 0 15px;
        h2 {
            @include heading-2;
        }
        h4 {
            font-family: 'Righteous', cursive;
            font-size: 1.5rem;
            color: white;
            text-align: right;
            margin: 0;
        }
        p {
            @include text-2;
        }
    }

    .infoTextContainer::after {
        content: '';
        display: block;
        width: 600px;
        height: 200px;

        border-right: 6px solid $sky;
        border-bottom: 6px solid $sky;
        
        position: absolute;
        right: -26px;
        bottom: -25px;
    }

    .buttonHolder {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    
        button {
            font-size: 6.0rem;
            border: none;
            background: $listItemBG;
            color: $sky;
        }

        button:hover,
        button:focus {
            background: $sky;
            color: $listItemBG;
        }

        .skip {
            padding-bottom: 10px;
        }

        .moveUp {
            padding-top: 10px;
        }

        .moveDown {
            padding-top: 15px;
        }

    }
    
}

// prevent the first item from being moved up
.playlist li:nth-child(1) .moveUp {
    display: none;
}

// prevent the last item from being moved down
.playlist li:last-child .moveDown {
    display: none;
}